<!DOCTYPE html>
<html ng-app="dynamicBuild">

<head>
  <title>Dynamic Build</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>var __adobewebfontsappname__ = "code"</script>
  <script>var __adobewebfontsappname__ = "code"</script>
  <script src="http://use.edgefonts.net/m-1c:n8,n7,n9,n3,n5,n4,n2:all;marvel:i4,n7,n4,i7:all;pontano-sans:n4:all.js">
  </script>
</head>

<body>
  <div id="wrapper">
  <header class="clearfix">
    <a href="/"><h1 id="logo">Dynamic Build</h1></a>
    <div id="login" class="clearfix">
        <nav class="clearfix">  
          <ul>  
            <li><a href="/" class="dash_button">Home&nbsp;&nbsp;</a></li>    
            <% if account_signed_in? %>
              <li><a href="#/trainers/1" class="dash_button">Profile</a></li>    
              <li class="list_log"><%= link_to "Logout", destroy_account_session_path, method: :delete, :class => "dash_button" %></li>  
            <% else %>
              <li class="list_log"><%= link_to "Login", new_account_session_path, :class => "dash_button" %></li>
            <% end %>    
          </ul>  
        </nav> 
    </div>
  </header>
   <div id="content" class="clearfix">
    <div id="alert">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>

<%= yield %>

  </div>
  <footer>
    <p class="madein">Made with <%= image_tag("love.png", :alt => "love") %> in Santa Monica, CA</p>
    <p class="copyright">Copyright © 2013 Mariana Lenetis</p>
  </footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<%= javascript_include_tag "application" %>

</body>
</html>
